/*.mp4
/data/*
!/data/input
!/data/output
/data/input/*
/data/output/*
!/data/input/kaldi-nl-test.mp4
!/data/output/kaldi-nl-test.wav
__pycache__
.pytest_cache
.mypy_cache
.coverage
/config.yml
s3-creds.env
.vscode
.env.override